@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
body,html{
    font-family: 'Cabin', sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    font-weight: 800;
    font-size: 50px;
}
h2{
    font-weight: 800;
    font-size: 50px;
}
h3{
    font-weight: bold;
    font-size: 30px;
}
h4{
    font-weight: bold;
    font-size: 20px;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
}
.hero-banner{
    background-color: #18B426;
    min-height: 80vh;
    padding: 50px 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.hero-banner h1{
    color: white;
    margin: 14px 0 20px;
}
.hero-banner h3{
    color: white;
    margin: 0 0 35px;
}
.hero-banner h4,
.hero-banner h4 a{
    color: white;
    margin: 0;
}
.pig-character{
    background: url(img/pig\ trans.png) no-repeat 0 0;
    background-size: 100%;
    width: 269px;
    height: 359px;
    position: absolute; top: 117px; right: 250px;
    transform: rotate(-15deg);
}
.dog-character{
    background: url(img/dog\ trans.png) no-repeat 0 0;
    background-size: 100%;
    width: 309px;
    height: 371px;
    position: absolute; top: 200px; right: 300px;
}
.mouse-character{
    background: url(img/mouse\ trans.png) no-repeat 0 0;
    background-size: 100%;
    width: 296px;
    height: 378px;
    position: absolute; bottom: 85px; right: 109px;
}

a.cta,
button.cta{
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: #18B426;
    display: inline-block;
    box-shadow: 0 0 0 10px rgba(0,127,255,.25);
    padding: 20px, 30px;
    border-radius: 10px;
    text-decoration: none;
}
a.cta.alt,
button.cta.alt{
    background-color: #DC5C03;
    color: #111111; 
    box-shadow: 0 0 0 10px rgba(0,0,0,.15);
}

nav{
    height: 100px;
    background-color: white;
    box-shadow: 0 5px 8px rgba(0,0,0,.2);
    position: sticky;
    top: 0;
}
nav.logo{
    display: block;
    position: absolute; top: 50%; left: 30;
    margin-top: -20px;
    background: url(img/Heihazy\ Farm\ newest.png) no-repeat 0 0;
    background-size: 100%;
    overflow: hidden;
    text-indent: -999px;
}
nav ul{
    padding: 0;
    margin: -110px 20px 0 0;

}
nav ul li{
    margin-top: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: right;
}
nav ul li a{
    display: block;
    height: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 35px 10px;
    line-height: 30px;
}

.more-info{
    text-align: center;
}
p{
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0;

}

/*
<div class="more-info" id="more-info">
        <h2>Join Our Farm Community</h2>
        <p>Every Friday we have <span class="highlight">a gathering</span>to exhange goods and socialize. If you are interested, please do not hesitate to join our community. The gathering is free of charge and super duper fun.</p>
        <button class="cta">Sign Me Up</button>
    </div>
    */
    