@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
body,html{
    font-family: 'Cabin', sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    font-weight: 800;
    font-size: 50px;
}
h2{
    font-weight: 800;
    font-size: 50px;
}
h3{
    font-weight: bold;
    font-size: 30px;
}
h4{
    font-weight: bold;
    font-size: 20px;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
}
.hero-banner{
    background-color: #18B426;
    min-height: 80vh;
    padding: 50px 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.hero-banner h1{
    color: white;
    margin: 14px 0 20px;
}
.hero-banner h3{
    color: white;
    margin: 0 0 35px;
}
.hero-banner h4,
.hero-banner h4 a{
    color: white;
    margin: 0;
}
.pig-character{
    background: url(img/pig\ trans.png) no-repeat 0 0;
    background-size: 100%;
    width: 269px;
    height: 359px;
    position: absolute; top: 117px; right: 250px;
    transform: rotate(-15deg);
}
.dog-character{
    background: url(img/dog\ trans.png) no-repeat 0 0;
    background-size: 100%;
    width: 309px;
    height: 371px;
    position: absolute; top: 200px; right: 300px;
}
.mouse-character{
    background: url(img/mouse\ trans.png) no-repeat 0 0;
    background-size: 100%;
    width: 296px;
    height: 378px;
    position: absolute; bottom: 85px; right: 109px;
}

a.cta,
button.cta{
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: #18B426;
    display: inline-block;
    box-shadow: 0 0 0 10px rgba(0,127,255,.25);
    padding: 20px, 30px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    outline: none;
}
a.cta:active,
button.cta:active{
    opacity: .7;
}
a.cta.alt,
button.cta.alt{
    background-color: #DC5C03;
    color: #111111; 
    box-shadow: 0 0 0 10px rgba(0,0,0,.15);
}

nav{
    height: 100px;
    background-color: white;
    box-shadow: 0 5px 8px rgba(0,0,0,.2);
    position: sticky;
    top: 0;
}
nav.logo{
    display: block;
    position: absolute; top: 50%; left: 30;
    margin-top: -20px;
    background: url(img/Heihazy\ Farm\ newest.png) no-repeat 0 0;
    background-size: 100%;
    overflow: hidden;
    text-indent: -999px;
}
nav ul{
    padding: 0;
    margin: -110px 20px 0 0;

}
nav ul li{
    margin-top: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: right;
}
nav ul li a{
    display: block;
    height: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 35px 10px;
    line-height: 30px;
}

.more-info{
    text-align: center;
}
more-info p{
    margin: 18px 0 40px;
}
more-info h2{
    margin: 50px 0 0;
}
p{
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0;

}
.highlight{
    background-color: #f38edc;
    color:#c43c00;
    padding: 5px 10px;
    display: inline;
    line-height: 50px;
    font-weight: 800;
}

.sep{
    width: 470px;
    height:5px;
    margin-right: 100px;
    margin-left: 600px;
    margin-top: 50px;
    background:#717171;
    border-bottom:1px solid #313030;
}
.story h3{
    font-size: 40px;
}
.nb-list{
    width: 470px;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    background-color: #ccd1d1;
    float: left;
    margin: 0 20px 20px 0;
}
.nb-list li{
    height: 70px;
    border-radius: 10px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    padding: 6px 20px;
    box-sizing: border-box;
}
.nb-list li.red{background-color: #c63c40}
.nb-list li.pink{background-color: #f45388}
.nb-list li.blue{
    background-color: #0171b0;
    color: black
}
.nb-list li.yellow{
    background-color: #f1c408;
    color: black;
}
.animal-team-img{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
footer{
    text-align: center;
    color: rgba(0,0,0,.4);
    font-size: 19px;
    margin: 85px 0 45px;
    font-weight: bold;
}
footer a{
    color: rgba(0,0,0,.4);
}
.popup{
    display: none;
}
/*
<div class="sep"></div>
    <div class="story" id="story"></div>
        <ul class="nb-list">
            <li class="pink">Laughters</li>
            <li class="blue">Creativity</li>
            <li class="red">Free spirits</li>
            <li class="yellow">Friendship</li>
        </ul>
        <h3>Left: Our special features</br>
        Below: Our Story</h3>
        <p>In a far far away unknown land, there was no one else but three living creatures. They were normal-looking animals, but they knew that there was something special within themselves</p>
        <p>One day fate put them to meet each other and they decided to find their true selves and awaken the land</p>
        <p>They then started their wonderful adventure with lots of fun and surprises</p>
    <div class="sep"></div>
    */
    